.WelcomeNav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.WelcomeNavLeft {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.WelcomeNavRight {
    display: flex;
    align-items: center;
}

.WelcomeNavTitle {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.WelcomeNavJoin {
    width: 11rem;
    background-color: var(--main_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.WelcomeNavJoinText {
    color: white;
    margin: 0;
    font-weight: medium;
    font-size: large;
}