/* styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/loading.css';

body {
    margin: 0;
}

.SideBarNav {
    background-color: #1677ff !important;
}

.SideBarMenu {
    background-color: #1677ff !important;
    color: white;
}

.SideBarMenu :hover{
    color: white !important;
}